@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldin</h1>
    <p>CollectAPI .NET için örnek kullanımların sonuçlarını görmek için ilgili controllerin sayfasına gidiniz.</p>
    <p>Yukarıdaki menüden gidebilirsiniz...</p>
</div>
